@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="feeds">
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="profile-photo">
                    <img src="~/Img/ProfilePictures/profile-3.jpg" />
                </div>
                <div class="info">
                    <h3>Lana Rose</h3>
                    <small class="text-muted">15 minutes ago</small>
                </div>
            </div>
            <span class="edit">
                <i class="bi bi-three-dots"></i>
            </span>
        </div>

        <div class="photo">
            <img src="./Img/PostImages/feed-1.jpg" />
        </div>

        <div class="action-button">
            <div class="interaction-buttons">
                <span><i class="bi bi-heart"></i></span>
                <span><i class="bi bi-chat-dots"></i></span>
                <span><i class="bi bi-share"></i></span>
            </div>
            <div class="bookmark">
                <span><i class="bi bi-bookmark"></i></span>
            </div>
        </div>

        <div class="liked-by">
            <span><img src="~/Img/ProfilePictures/profile-15.jpg" /></span>
            <span><img src="~/Img/ProfilePictures/profile-11.jpg" /></span>
            <span><img src="~/Img/ProfilePictures/profile-9.jpg" /></span>
            <p>Liked By <b>Ernest Achiever</b> and <b>2,323 others.</b> </p>
        </div>

        <div class="caption">
            <p><b>Lana Rose</b> Enjoying a fun birthday with family and friends. <span class="hash-tag">#birthday</span></p>
        </div>

        <div class="text-muted">View all 277 comments</div>
    </div>


    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="profile-photo">
                    <img src="~/Img/ProfilePictures/profile-3.jpg" />
                </div>
                <div class="info">
                    <h3>Lana Rose</h3>
                    <small class="text-muted">15 minutes ago</small>
                </div>
            </div>
            <span class="edit">
                <i class="bi bi-three-dots"></i>
            </span>
        </div>

        <div class="photo">
            <img src="./Img/PostImages/feed-1.jpg" />
        </div>

        <div class="action-button">
            <div class="interaction-buttons">
                <span><i class="bi bi-heart"></i></span>
                <span><i class="bi bi-chat-dots"></i></span>
                <span><i class="bi bi-share"></i></span>
            </div>
            <div class="bookmark">
                <span><i class="bi bi-bookmark"></i></span>
            </div>
        </div>

        <div class="liked-by">
            <span><img src="~/Img/ProfilePictures/profile-15.jpg" /></span>
            <span><img src="~/Img/ProfilePictures/profile-11.jpg" /></span>
            <span><img src="~/Img/ProfilePictures/profile-9.jpg" /></span>
            <p>Liked By <b>Ernest Achiever</b> and <b>2,323 others.</b> </p>
        </div>

        <div class="caption">
            <p><b>Lana Rose</b> Enjoying a fun birthday with family and friends. <span class="hash-tag">#birthday</span></p>
        </div>

        <div class="text-muted">View all 277 comments</div>
    </div>

</div>