@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="messages">
    <div class="heading">
        <h4>Messages</h4>
        <i class="bi bi-pencil-square"></i>
    </div>

    <div class="search-bar">
        <i class="bi bi-search"></i>
        <input autocomplete="off" type="search" placeholder="Search Messages" id="message-search" />
    </div>


    <div class="category">
        <h6 class="active">Primary</h6>
        <h6>General</h6>
        <h6 class="message-requests">Requests(7)</h6>
    </div>

    <div class="message">
        <div class="profile-photo">
            <img src="~/Img/ProfilePictures/profile-9.jpg" />
        </div>

        <div class="message-body">
            <h5>EdemQist</h5>
            <p class="text-muted">Just woke up lol</p></p>
        </div>
    </div>

    <div class="message">
        <div class="profile-photo">
            <img src="~/Img/ProfilePictures/profile-11.jpg" />
        </div>

        <div class="message-body">
            <h5>Lila James</h5>
            <p class="text-bold">2 new messages</p>
        </div>
    </div>

    <div class="message">
        <div class="profile-photo">
            <img src="~/Img/ProfilePictures/profile-3.jpg" />
        </div>

        <div class="message-body">
            <h5>George Striker</h5>
            <p class="text-muted">I'm here!</p></p>
        </div>
    </div>

    <div class="message">
        <div class="profile-photo">
            <img src="~/Img/ProfilePictures/profile-15.jpg" />
        </div>

        <div class="message-body">
            <h5>Joe Button</h5>
            <p class="text-muted">All set for today?</p></p>
        </div>
    </div>

</div>