
<div class="profile">
    <div class="profile-photo">
        <img src="/Img//ProfilePictures/profile-1.jpg" />
    </div>
    <div class="handle">
        <h4 style="margin-bottom:0.4rem;">Diana Ayi</h4>
        <p class="text-muted">@@dayi</p>
    </div>
</div>