@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="stories">
    <div class="story">
        <div class="profile-photo">
            <img src="/Img/ProfilePictures/profile-1.jpg" />
        </div>
        <p class="name">Your Story</p>
    </div>

    <div class="story">
        <div class="profile-photo">
            <img src="/Img/ProfilePictures/profile-9.jpg" />
        </div>
        <p class="name">Lila James</p>
    </div>

    <div class="story">
        <div class="profile-photo">
            <img src="/Img/ProfilePictures/profile-11.jpg" />
        </div>
        <p class="name">Alex Mcfeely</p>
    </div>

    <div class="story">
        <div class="profile-photo">
            <img src="/Img/ProfilePictures/profile-3.jpg" />
        </div>
        <p class="name">George Striker</p>
    </div>

    <div class="story">
        <div class="profile-photo">
            <img src="/Img/ProfilePictures/profile-15.jpg" />
        </div>
        <p class="name">Lorriane Jones</p>
    </div>
</div>